<div>
<p>This guide references the following extensions.</p>
<p>
<a href="StructureDefinition-AssociatedPreconditionExt-definitions.html">Associated Precondition</a><br/>
<a href="StructureDefinition-BloodPressureCuffSizeExt-definitions.html">Blood Pressure Cuff Size</a><br/>
<a href="StructureDefinition-BodyPositionExt-definitions.html">Body Position</a><br/>
<a href="StructureDefinition-ClothingWornDuringMeasureExt-definitions.html">Clothing Worn During Measure</a><br/>
<a href="StructureDefinition-MeasurementDeviceExt-definitions.html">Measurement Device</a><br/>
<a href="StructureDefinition-MethodDeviceExt-definitions.html">Method/Device</a><br/>
<a href="StructureDefinition-SensorDescriptionExt-definitions.html">Sensor Description</a><br/>
<a href="StructureDefinition-SleepStatusExt-definitions.html">Sleep Status</a><br/>
</p>
</div>
