<div>
	<table class="grid">
		<thead>
			<tr>
			  <th width="25%">Profile</th>
			  <th width="75%">Definition</th>
			</tr>
		</thead>
		<tbody>
			<tr>
			  <td><a href="StructureDefinition-VitalSignsPanel.html">Vital Signs Panel</a></td>
			  <td>A vital signs panel as defined by Logica Health.  It includes height, weight, head circumference, oxygen saturation via pulse oximetry, and BMI.</td>
			</tr>
			<tr>
			  <td><a href="StructureDefinition-BloodPressurePanel.html">Blood Pressure Panel</a></td>
			  <td>The elements that constituted a blood pressure: Sytstolic Blood pressure, Diastolic Blood Pressure, and Mean Arterial Pressure</td>
			</tr>
			<tr>
			  <td><a href="StructureDefinition-BodyLength.html">Body Length</a></td>
			  <td>The measurement in centimeters from the top of the head to bottom of the heel, take while lying down</td>
			</tr>
			<tr>
			  <td><a href="StructureDefinition-BodyMassIndex.html">Body Mass Index</a></td>
			  <td>The ratio of an individual's hieght and weight</td>
			</tr>
			<tr>
			  <td><a href="StructureDefinition-BodyTemperature.html">Body Temperature</a></td>
			  <td>The measurement of an individual's body temperature</td>
			</tr>
			<tr>
			  <td><a href="StructureDefinition-BodyWeight.html">Body Weight</a></td>
			  <td>The measurement of an individual's weight</td>
			</tr>
			<!-- <tr>
			  <td><a href="StructureDefinition-SystolicBloodPressure24HourMeanMeas.html">Systolic Blood Pressure 24 Hour Mean Meas</a></td>
			  <td>A calculation of the average systolic blood pressure over a 24 hour period</td>
			</tr>
			<tr>
			  <td><a href="StructureDefinition-DiastolicBloodPressure24HourMeanMeas.html">Diastolic Blood Pressure 24 Hour Mean Meas</a></td>
			  <td>A calculation of the average diastolic blood pressure over a 24 hour period</td>
			</tr> -->
			<tr>
			  <td><a href="StructureDefinition-HeadOccipitalFrontalCircumference.html">Head Occipital Frontal Circumference</a></td>
			  <td>The circumference of the head using the frontal-occipital plane</td>
			</tr>
			<tr>
			  <td><a href="StructureDefinition-HeartRate.html">Heart Rate</a></td>
			  <td>The rate at which the heart is beating in beats per minute</td>
			</tr>
			<tr>
			  <td><a href="StructureDefinition-Height.html">Height</a></td>
			  <td>The measurement from the top of the head to the heel, usually while standing</td>
			</tr>
			<tr>
			  <td><a href="StructureDefinition-OxygenSaturationArterialBloodPulseOx.html">Oxygen Satruration by Pulse Oximetry</a></td>
			  <td>A measurement of the amount of oxygen in arterial blood via pulse oximetry</td>
			</tr>
			<tr>
			  <td><a href="StructureDefinition-OxygenSaturationArterialBlood.html">Oxygen Saturation Arterial Blood</a></td>
			  <td>A measurement of the amount of oxygen in arterial blood, method not specified</td>
			</tr>
			<tr>
			  <td><a href="StructureDefinition-RespiratoryRate.html">Respiratory Rate</a></td>
			  <td>A measurement of the rate of breathing, in breaths per minute</td>
			</tr>
		</tbody>
	</table>
</div>
