<div>
  <table class="grid">
    <thead>
      <tr>
		<th width="13%">Profile Name</th>
        <th width="7%">LOINC code</th>
        <th width="60%">LOINC Name and Comments</th>
        <th width="10%">UCUM Unit Code</th>
		<th width="10%">Examples</th>
      </tr>
    </thead>
    <tbody>
      <tr>
		<td><a href="StructureDefinition-VitalSignsPanel.html" target="_blank">Vital Signs Panel&nbsp;&nbsp;</a></td>
        <td><a href="http://r.details.loinc.org/LOINC/85353-1.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;85353-1&nbsp;&nbsp;</a></td>
        <td>Vital signs, weight, height, head circumference, oxygen saturation and BMI panel - It represent a panel of vital signs listed in this table. All members of the   panel are optional and note that querying for the panel may miss individual results that are not part of the actual panel. When used, Observation.valueQuantity is not present; instead, related links (with   type=has-member) reference the vital signs observations (e.g. respiratory rate, heart rate, BP, etc.). This code replaces the deprecated code 8716-3 - Vital signs which is used in the Argonaut Data Query Implementation Guide.</td>
        <td>-</td>
		<td>-</td>
      </tr>
      <tr>
		<td><a href="StructureDefinition-BloodPressurePanel.html" target="_blank">Blood Pressure Panel&nbsp;&nbsp;</a></td>
        <td><a href="http://r.details.loinc.org/LOINC/85354-9.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;85354-9&nbsp;&nbsp;</a></td>
        <td>Blood pressure panel with all children optional - This is a component observation. It has no value in Observation.valueQuantity and contains at least one component (systolic and/or diastolic). To supplement this vital sign observation, 8478-0 - Mean blood pressure, 8357-6 - Blood pressure method, 41904-4 - Blood pressure measurement site, 8358-4 - Blood pressure device cuff size, 41901-0 - Type of blood pressure device MAY be used as additional observations. </td>
        <td>-</td>
		<td><a href="Observation-BloodPressurePanel-example.html" target="_blank">Blood Pressure Panel Example&nbsp;&nbsp;</a></td>
      </tr>
      <tr>
		<td><a href="StructureDefinition-RespiratoryRate.html" target="_blank">Respiratory Rate&nbsp;&nbsp;</a></td>
        <td><a href="http://r.details.loinc.org/LOINC/9279-1.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;9279-1&nbsp;&nbsp;</a></td>
        <td>Respiratory rate</td>
        <td>/min</td>
		<td><a href="Observation-respiratoryRate-example.html" target="_blank">Respiratory Rate example&nbsp;&nbsp;</a></td>
      </tr>
      <tr>
		<td><a href="StructureDefinition-HeartRate.html" target="_blank">Heart Rate&nbsp;&nbsp;</a></td>
        <td><a href="http://r.details.loinc.org/LOINC/8867-4.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;8867-4&nbsp;&nbsp;</a></td>
        <td>Heart rate</td>
        <td>/min </td>
		<td><a href="Observation-heartRate-example.html" target="_blank">Heart Rate example&nbsp;&nbsp;</a></td>
      </tr>
      <tr>
		<td><a href="StructureDefinition-OxygenSaturationArterialBloodPulseOx.html" target="_blank">Oxygen Satruration by Pulse Oximetry&nbsp;&nbsp;</a></td>
        <td><a href="http://r.details.loinc.org/LOINC/59408-5.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;59408-5&nbsp;&nbsp;</a></td>
        <td>Oxygen saturation in Arterial blood by Pulse oximetry</td>
        <td>%</td>
		<td><a href="Observation-oxygenSaturationPulseOx-example.html" target="_blank">Oxygen Saturation example&nbsp;&nbsp;</a></td>
      </tr>
      <tr>
		<td><a href="StructureDefinition-OxygenSaturationArterialBlood.html" target="_blank">Oxygen Satruration&nbsp;&nbsp;</a></td>
        <td><a href="http://r.details.loinc.org/LOINC/2708-6.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;2708-6&nbsp;&nbsp;</a></td>
        <td>Oxygen saturation in Arterial blood</td>
        <td>%</td>
		<td><a href="Observation-oxygenSaturation-example.html" target="_blank">Oxygen Saturation example&nbsp;&nbsp;</a></td>
      </tr>
      <tr>
		<td><a href="StructureDefinition-BodyTemperature.html" target="_blank">Body Temperature&nbsp;&nbsp;</a></td>
        <td><a href="http://r.details.loinc.org/LOINC/8310-5.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;8310-5&nbsp;&nbsp;</a></td>
        <td>Body temperature</td>
        <td>Cel, [degF]</td>
		<td><a href="Observation-bodyTemperature-example.html" target="_blank">Body Temperature example&nbsp;&nbsp;</a></td>
      </tr>
      <tr>
		<td><a href="StructureDefinition-Height.html" target="_blank">Body Height&nbsp;&nbsp;</a></td>
        <td><a href="http://r.details.loinc.org/LOINC/8302-2.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;8302-2&nbsp;&nbsp;</a></td>
        <td>Body height</td>
        <td>cm, [in_i]</td>
		<td><a href="Observation-height-example.html" target="_blank">Body Height example&nbsp;&nbsp;</a></td>
      </tr>
      <tr>
		<td><a href="StructureDefinition-BodyLength.html" target="_blank">Body Length&nbsp;&nbsp;</a></td>
        <td><a href="http://r.details.loinc.org/LOINC/8306-3.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;8306-3&nbsp;&nbsp;</a></td>
        <td>Body height -- lying</td>
        <td>cm, [in_i]</td>
		<td><a href="Observation-bodyLength-example.html" target="_blank">Body Length example&nbsp;&nbsp;</a></td>
      </tr>
      <tr>
		<td><a href="StructureDefinition-HeadOccipitalFrontalCircumference.html" target="_blank">Head Circumference&nbsp;&nbsp;</a></td>
        <td><a href="http://r.details.loinc.org/LOINC/8287-5.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;8287-5&nbsp;&nbsp;</a></td>
        <td>Head Occipital-frontal circumference by Tape measure</td>
        <td>cm, [in_i]</td>
		<td><a href="Observation-headCircumference-example.html" target="_blank">Head Circumference example&nbsp;&nbsp;</a></td>
      </tr>
      <tr>
		<td><a href="StructureDefinition-BodyWeight.html" target="_blank">Body Weight&nbsp;&nbsp;</a></td>
        <td><a href="http://r.details.loinc.org/LOINC/3141-9.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;3141-9&nbsp;&nbsp;</a></td>
        <td>Body weight</td>
        <td>g, kg,[lb_av]</td>
		<td><a href="Observation-bodyWeight-example.html" target="_blank">Body Weight example&nbsp;&nbsp;</a></td>
      </tr>
      <tr>
		<td><a href="StructureDefinition-BodyMassIndex.html" target="_blank">Body Mass Index&nbsp;&nbsp;</a></td>
        <td><a href="http://r.details.loinc.org/LOINC/39156-5.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;39156-5&nbsp;&nbsp;</a></td>
        <td>Body mass index (BMI) [Ratio]</td>
        <td>kg/m2</td>
		<td><a href="Observation-bmi-example.html" target="_blank">Body Mass Index example&nbsp;&nbsp;</a></td>
      </tr>
    </tbody>
  </table>
</div>
